# Python
__pycache__/
*.pyc
venv/
*.log

# Colab
.ipynb_checkpoints/

# Data & Results 
data/
evaluation/
bin/

# OS
.DS_Store
Thumbs.db

# config
.stfolder/
.stignore

# local environment testing 
test_env.py